footer
    div.grid-x.align-middle
        div.large-offset-1.large-3.cell
            ul.vertical.menu
                li
                    a(href=path) #{main}
                li
                    a(href=path + "finals.html") #{ctf}
                li
                    a(href=path + "contacts.html") #{contacts}
        div.large-offset-5.large-2.cell.text-right
            img.logo_white(src="images/logo_white.svg")