doctype html
- var availableLangs = locales.filter(x => x !== locale && !!lang(x))
- var path = locale==defaultLocale ? "/" : "/"+locale+"/"
include mixins
html(lang=locale)
    include partials/head
    body
        div.bg-first
            +headerMenu("main")
            section#welcome.welcome_padding
                div.grid-x
                    div.large-offset-1.large-3.cell #{welcome_text}
                        hr
        section#about
            div.grid-x
                div.large-offset-1.large-4.cell.cell-text
                    h1.main #{about_header_main}
                    h1 #{about_header_sub}
                    .
                        #{about_text}
                    br
                    br
                    .
                        #{about_text2}
                    hr
                div.large-6.cell
        section#describe
            div.grid-x.bg-second
                div.large-offset-1.large-2.cell.cell-text
                    h1.main #{describe_header_main}
                    h1 !{describe_header_sub}
                div.large-6.large-offset-2.cell.cell-text
                    div.grid-x.cell-window
                        div.large-6.cell
                            +iconedText("images/command.svg",about_team_text)
                        div.large-6.cell
                            +iconedText("images/tribune.svg",about_tribune_text)
                        div.large-6.cell.top-padding
                            +iconedText("images/like.svg",about_heart_text)

        section#orgs
            div.grid-x
                div.large-offset-1.large-4.cell.cell-text
                    h1.main #{orgs_header_main}
                    h1 #{orgs_header_sub}
                div.large-offset-1.large-10.cell
                    +partnersGrid(partners, locale,0)

        include partials/footer
