doctype html
- var availableLangs = locales.filter(x => x !== locale && !!lang(x))
- var localePath = locale==defaultLocale ? "" : "/"+locale
include mixins
html(lang=locale)
    include partials/head
    body.bg-third
        +headerMenu(menu,locale,localePath,"contacts")
        section#contacts
            div.grid-x
                div.large-offset-1.large-2.cell.cell-text
                    h1.main #{contacts_header_main}
                    h1 !{contacts_header_sub}
                div.large-6.large-offset-2.cell.cell-text
                    div.grid-x.cell-window
                        div.large-6.cell
                            +iconedText("/images/question.svg",about_invite_text)
                        div.large-6.cell
                            +iconedText("/images/tribune.svg",about_tribune_text)
                        div.large-6.cell.top-padding
                            +iconedText("/images/handshake.svg",about_partners_text)
                        div.large-6.cell.top-padding
                            +iconedText("/images/information-button.svg",about_info_text)
        section#social
            div.grid-x
                div.large-offset-1.large-2.cell.cell-text
                    h1.main #{social_header_main}
                    h1 !{social_header_sub}
                div.large-6.large-offset-2.cell.cell-text
                    div.grid-x.cell-window
                        div.large-6.cell
                            +iconedText("/images/vk.svg",about_vk_text,"https://vk.com/volgactf")
                        div.large-6.cell
                            +iconedText("/images/twitter.svg",about_twitter_text,"https://twitter.com/volgactf")
                        div.large-6.cell.top-padding
                            +iconedText("/images/github.svg",about_github_text,"https://github.com/volgactf")
        include partials/footer