doctype html
- var availableLangs = locales.filter(x => x !== locale && !!lang(x))
- var path = locale==defaultLocale ? "/" : "/"+locale+"/"
include partials/mixins
html(lang=locale)
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title #{title}
        include partials/static
    body
        div#bg-first
            header
                div.grid-x
                    div.large-2.cell.large-offset-1
                        img.logo(src="images/logo.svg")
                    div.large-6.large-offset-2.cell.menu-cell
                        ul.menu.align-center
                            li
                                a(href=path) #{main}
                            li
                                a(href=path+"finals.html") #{ctf}
                            li
                                a(href=path+"contacts.html") #{contacts}
        section#describe
            div.grid-x.bg-second
                div.large-offset-1.large-2.cell.cell-text
                    h1.main #{describe_header_main}
                    h1 !{describe_header_sub}
                div.large-6.large-offset-2.cell.cell-text
                    div.grid-x.cell-window
                        div.large-6.cell
                            +iconedText("images/command.svg",about_team_text)
                        div.large-6.cell
                            +iconedText("images/tribune.svg",about_tribune_text)
                        div.large-6.cell.top-padding
                            +iconedText("images/like.svg",about_heart_text)
        footer