doctype html
- var localePath = locale===defaultLocale ? "" : "/"+locale
include mixins
html(lang=locale)
    include partials/head
    body
        div.bg-first
            +headerMenu(menu,locale,localePath,selected_menu_item)
            section#finals_welcome.second_welcome_padding
                div.grid-x
                    div.large-offset-1.large-3.cell.cell-text
                        h1.main #{finals_header_main}
                        h1 #{finals_header_sub}
                        .
                            #{finals_text}
                        hr
        if(!hide_stream)
            section#stream
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{stream_header}
                    div.large-offset-3.large-6.cell
                        div.flex-video
                            iframe(frameborder='0', width='100%', height='100%', scrolling='no', src='//ZOBRtv.webcaster.pro/iframe/feed/start/free_682c003e32e2a1ec07e150e9b30fefd7_hd/207_1555205756/5b43f1f8ffd8bf9d9511930f6c79907c/4693193600?sr=443&type_id=&autostart=1&width=100%25&height=100%25&lang=ru', allowfullscreen='', allow='encrypted-media')
        if(schedule && !hide_schedule)
            section#schedule
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{schedule_header}
                div.grid-x
                    div.cell.medium-offset-4.medium-4.schedule
                        +schedule(schedule,locale)
        if(scoreboard)
            section#scoreboard
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main SCOREBOARD
                    div.large-offset-1.large-10.cell.cell-text
                        +scoreboard(scoreboard)
        section#teams
            div.grid-x
                div.large-offset-1.large-4.cell.cell-text
                    h1.main #{teams_header_main}
                    h1 #{teams_header_sub}
                if(contents)
                    div.large-offset-1.large-10.cell.cell-text
                        .
                            !{contents}
                div.large-offset-1.large-10.cell.cell-text
                    +teamsTable(teams_table_waiting, teams_table_accepted,teams_table_shortlisted, teams_table_declined, teams, locale, showStatus)

        if(!hide_documents)
            section#documents
                div.grid-x.bg-second
                    div.large-offset-1.large-2.cell.cell-text
                        h1.main #{documents_header_main}
                    div.large-6.large-offset-2.cell.cell-text
                        div.grid-x.cell-window
                            div.large-6.cell
                                +iconedText("/images/download.svg",document1_text,"/volgactf-2017-finals/press-release.html")
                            div.large-6.cell
                                +iconedText("/images/download.svg",document2_text,"/volgactf-2017-finals/press-release-finals.html")
        if(!hide_partners)
            section#partners
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{partners_header_main}
                        h1 #{partners_header_sub}
                    div.large-offset-1.large-10.cell
                        +partnersGrid(partners,locale,-1)


        include partials/footer
