doctype html
- var localePath = locale===defaultLocale ? "" : "/"+locale
include mixins
html(lang=locale)
    include partials/head
    body
        div.bg-first
            +headerMenu(menu,locale,localePath,selected_menu_item)
            section#finals_welcome.second_welcome_padding
                div.grid-x
                    div.large-offset-1.large-3.cell.cell-text
                        h1.main #{finals_header_main}
                        h1 #{finals_header_sub}
                        .
                            #{finals_text}
                        hr
        if(!hide_stream)
            section#stream
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{stream_header}
                    if(stream_link)
                        div.large-offset-3.large-6.cell
                            div.flex-video
                                iframe(frameborder='0', width='100%', height='100%', scrolling='no', src=stream_link, allowfullscreen='', allow='encrypted-media')
                if(!stream_link)
                    div.grid-x
                        div.large-offset-1.large-6.cell
                            p #{stream_placeholder_text}
        if(schedule && !hide_schedule)
            section#schedule
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{schedule_header}
                div.grid-x
                    div.cell.medium-offset-4.medium-4.schedule
                        +schedule(schedule,locale)
                    if (schedule_footnote_text)
                        div.cell.medium-offset-4.medium-4
                            p
                                span(style={color: 'red'}) * 
                                span #{schedule_footnote_text}
        if(scoreboard)
            section#scoreboard
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main SCOREBOARD
                    div.large-offset-1.large-10.cell.cell-text
                        +scoreboard(scoreboard)
        section#teams
            div.grid-x
                div.large-offset-1.large-4.cell.cell-text
                    h1.main #{teams_header_main}
                    h1 #{teams_header_sub}
                if(contents)
                    div.large-offset-1.large-10.cell.cell-text
                        .
                            !{contents}
                div.large-offset-1.large-10.cell.cell-text
                    +teamsTable(teams_table_waiting, teams_table_accepted,teams_table_shortlisted, teams_table_declined, teams, locale, showStatus, showExtraQuota, teams_extra_quota_text)

        if(!hide_documents)
            section#documents
                div.grid-x.bg-second
                    div.large-offset-1.large-2.cell.cell-text
                        h1.main #{documents_header_main}
                    div.large-6.large-offset-2.cell.cell-text
                        div.grid-x.cell-window
                            div.large-6.cell
                                +iconedText("/images/download.svg",document1_text,"/volgactf-2017-finals/press-release.html")
                            div.large-6.cell
                                +iconedText("/images/download.svg",document2_text,"/volgactf-2017-finals/press-release-finals.html")
        if(!hide_partners)
            section#partners
                div.grid-x
                    div.large-offset-1.large-4.cell.cell-text
                        h1.main #{partners_header_main}
                        h1 #{partners_header_sub}
                    div.large-offset-1.large-10.cell
                        +partnersGrid(partners,locale,-1)


        include partials/footer
