mixin schedule(scheduleData,locale)
    each day,index in scheduleData
        div(class= index === 0 ? "grid-x" : "grid-x hide")
            div.large-offset-7.large-4.cell.text-right.date
                img.schedule-control.schedule-previous(src="/images/previous.svg")
                .
                    #{day.date}
                img.schedule-control.schedule-next(src="/images/next.svg")
            div.large-12.cell
                each item in day.schedule
                    div.grid-x.schedule-element
                        div.cell.small-offset-1.small-1 #{item.time}
                        div.cell.small-offset-1.small-8 #{item.name[locale]}
                            if item.author
                                br
                                em #{item.author[locale]}



mixin iconedText(imagePath, imageText, link)
    - var transformedText = markdown_text(imageText)
    div.grid-x
        if link
            div.cell.large-12.text-center
                a(href=link, target="_blank")
                    img.icon(src=imagePath)
            div.cell.large-12.align-center-middle.text-center !{transformedText}
        else
            div.cell.large-12.text-center
                img.icon(src=imagePath)
            div.cell.large-12.align-center-middle.text-center !{transformedText}

mixin partnerLogo(imagePath, href)
    if href === ""
        a.partner
            img(src=imagePath)
    else
        a.partner(href=href target="_blank")
            img(src=imagePath)
mixin archiveList(archive, locale, localePath)
    - var altPath = locale==="en" ? "/" : "/en/"
    ul
        each eventGroup in archive
            li #{eventGroup.name}
                if eventGroup.events && eventGroup.events.length > 0
                    ul
                        each event in eventGroup.events
                            li
                                if event.internal_link
                                    a(href=localePath + event.internal_link) #{event.name}
                                else
                                    .
                                        #{event.name}
                                a(href=event.ctf_time_link target='_blank') &nbsp;(CTFTime)

mixin headerMenu(menu,locale, localePath,selectedTitle)
    - var altPath = locale==="en" ? "/" : "/en/"
    - var alternativeUrl = altPath + altFiles[locale].filename.substr(altFiles[locale].filename.lastIndexOf("/")+1).replace(".md",".html").replace("_"+locale,"")
    header
        div.grid-x
            div.large-2.cell.large-offset-1.hide-for-small-only.hide-for-medium-only
                img.logo(src="/images/logo.svg")
            div.large-6.large-offset-2.cell.menu-cell
                ul.menu.align-center
                    each item in menu
                        li(class={"is-active": selectedTitle === item.title})
                            a(href=localePath + item.page) #{item.name[locale]}
            div.large-1.cell.language-selector.small-centered.text-center
                if(locale === "ru")
                    b RU
                    .
                        /
                    a(href=alternativeUrl) EN
                else
                    a(href=alternativeUrl) RU
                    .
                        /
                    b EN


mixin partnersGrid(partners,locale,level)
    if level !== -1
        - var target = partners[level]
        div.grid-x
            each partner in target.partners
                div.large-3.small-6.text-center
                    +partnerLogo("/images/" + partner.image,partner.link)
    else
        div.grid-x
            each section in partners
                div.large-12.cell-text.cell
                    h2 #{section.name[locale]}
                each partner in section.partners
                    div.large-3.small-6.text-center
                        +partnerLogo("/images/" + partner.image,partner.link)

mixin teamsTable(sentStatus,acceptedStatus,teams, sourceLang)
    div.table-scroll
        table.unstriped.teams
            tbody
                each section in teams
                    tr
                        th(colspan="2") #{section.name[sourceLang]}
                    each team in section.teams
                        tr
                            td
                                a(href=team.ctftime_link, target="_blank") #{team.name}
                            td #{team.edu[sourceLang]}

mixin scoreboard(data, normalizeScore)
    div.table-scroll
        table.unstriped.teams
            tbody
                tr
                    th #
                    th Team
                    th Score
                each team in data.standings
                    tr
                        td #{team.pos}
                        td #{team.team}
                        - if(normalizeScore) var score = (team.score*100).toFixed(2) + "%"; else var score = team.score
                        td #{score}


