mixin iconedText(imagePath, imageText, link)
    - var transformedText = markdown_text(imageText)
    div.grid-x
        if link
            div.cell.large-12.text-center
                a(href=link, target="_blank")
                    img.icon(src=imagePath)
            div.cell.large-12.align-center-middle.text-center !{transformedText}
        else
            div.cell.large-12.text-center
                img.icon(src=imagePath)
            div.cell.large-12.align-center-middle.text-center !{transformedText}

mixin partnerLogo(imagePath, href)
    if href === ""
        a.partner
            img(src=imagePath)
    else
        a.partner(href=href target="_blank")
            img(src=imagePath)

mixin headerMenu(menu,locale, localePath,selectedTitle)
    header
        div.grid-x
            div.large-2.cell.large-offset-1.hide-for-small-only.hide-for-medium-only
                img.logo(src="/images/logo.svg")
            div.large-6.large-offset-2.cell.menu-cell
                ul.menu.align-center
                    each item in menu
                        li(class={"is-active": selectedTitle === item.title})
                            a(href=localePath + item.page) #{item.name[locale]}

mixin partnersGrid(partners,locale,level)
    if level !== -1
        - var target = partners[level]
        div.grid-x
            each partner in target.partners
                div.large-3.small-6.text-center
                    +partnerLogo("/images/" + partner.image,partner.link)
    else
        div.grid-x
            each section in partners
                div.large-12.cell-text.cell
                    h2 #{section.name[locale]}
                each partner in section.partners
                    div.large-3.small-6.text-center
                        +partnerLogo("/images/" + partner.image,partner.link)

mixin teamsTable(sentStatus,acceptedStatus,teams, sourceLang)
    div.table-scroll
        table.unstriped.teams
            tbody
                each section in teams
                    tr
                        th(colspan="3") #{section.name[sourceLang]}
                    each team in section.teams
                        tr
                            td
                                a(href=team.ctftime_link, target="_blank") #{team.name}
                            td #{team.edu[sourceLang]}
                            if team.status
                                td #{acceptedStatus}
                            else
                                td #{sentStatus}


